<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/data-implementations-sample" location="data-implementations-sample.war" />

</server>
